<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @locality.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @locality.description %>
</p>

<%= link_to 'Edit', edit_locality_path(@locality) %> |
<%= link_to 'Back', localities_path %>
