<p id="notice"><%= notice %></p>

<h1>Listing Kinships</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinships.each do |kinship| %>
      <tr>
        <td><%= kinship.description %></td>
        <td><%= link_to 'Show', kinship %></td>
        <td><%= link_to 'Edit', edit_kinship_path(kinship) %></td>
        <td><%= link_to 'Destroy', kinship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kinship', new_kinship_path %>
